.table-view{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
table {
  border-collapse: collapse;
  overflow-y: auto;
  max-height: 300px;
  border: 1px solid #ddd;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: 400;
}
td:last-child {
    white-space: nowrap !important;
  }
button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  float: right;
  /* width: 150px; */
}

button:hover {
  background-color: #45a049;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
